grafana:
  adminPassword: {{ fetchSecretValue "ref+vault://kv/observability/grafana#admin-password" | quote }}

alertmanager:
  config:
    receivers:
      - name: "null"
      - name: ntfy
        webhook_configs:
          - url: "http://ntfy.observability.svc.cluster.local/alerts"
            send_resolved: true
