grafana:
  adminPassword: {{ fetchSecretValue "ref+vault://kv/observability/grafana#admin-password" | quote }}

alertmanager:
  config:
    receivers:
      - name: "null"
      - name: pushover
        pushover_configs:
          - user_key: {{ fetchSecretValue "ref+vault://kv/observability/alertmanager#pushover-user-key" | quote }}
            token: {{ fetchSecretValue "ref+vault://kv/observability/alertmanager#pushover-api-token" | quote }}
            send_resolved: true
