---
environments:
  default:
    values:
      - encryptionKey: {{ fetchSecretValue "ref+vault://kv/security/pocket-id#encryption-key" | quote }}
---
repositories: []

releases:
  - name: pocket-id
    namespace: security
    chart: ./helm-chart
    wait: true
    timeout: 300
    values:
      - fullnameOverride: pocket-id
        app:
          encryptionKey: {{ .Values.encryptionKey | quote }}
