environments:
  default:
    values:
      - testFoo: {{ fetchSecretValue "ref+vault://kv/test/vals-example#foo" }}
      - testMessage: {{ fetchSecretValue "ref+vault://kv/test/vals-example#message" }}
      - testNumber: {{ fetchSecretValue "ref+vault://kv/test/vals-example#number" }}

---
releases:
  - name: vals-test
    namespace: default
    chart: ./chart
    values:
      - testFoo: {{ .Values.testFoo | quote }}
      - testMessage: {{ .Values.testMessage | quote }}
      - testNumber: {{ .Values.testNumber | quote }}
