repositories:
  - name: grafana
    url: https://grafana.github.io/helm-charts

releases:
  - name: grafana
    namespace: observability
    chart: grafana/grafana
    version: 8.5.2
    createNamespace: true
    values:
      - values.yaml
      - adminPassword: {{ fetchSecretValue "ref+vault://kv/observability/grafana#admin-password" | quote }}

  # HTTPRoute as local chart
  - name: grafana-resources
    namespace: observability
    chart: ./resources
